@media screen and (max-width: 1250px) {
    .template-content div {
        display: none;
    }

    .template-content-portrait div,
    .template-content-landscape div {
        display: none;
    }

    .template-content {
        background: url(INFO_RECT.png) !important; /*informational layout*/
        background-size: contain !important;
        background-repeat: no-repeat !important;
        height: 33vh !important;
        width: 41vw !important;
    }

    .template-content-landscape {
        background: url('https://i.ibb.co/yyYVKZn/image.png') !important;/*custom layout*/
        background-size: contain !important;
        background-repeat: no-repeat !important;
        height: 49.853vh !important;
        width: 40.5vw !important;
        margin: 0px !important;
    }

    .template-content-portrait {
        background: url(Group69.png) !important;/*multi-page layout*/
        background-size: contain !important;
        background-repeat: no-repeat !important;
        height: 40vh !important;
        background-position: center !important;
        width: 20vw !important;
        background-color: black !important;
    }
}

/* Media query for mobile responsiveness */
@media screen and (max-width: 768px) {

    #1p {
        background: url(Group69.png) !important;/*multi-page layout*/
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }

    #2p {
        background: url(Group71.png) !important;/*complex -age layout*/
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }

    .template-content-holder {
        width: 90vw !important;
    }

    .template-content {
        background: url(INFO_RECT.png) !important;/*informational page layout*/
        background-size: contain !important;
        background-repeat: no-repeat !important;
        height: 20vh !important;
        width: 82vw !important;
    }

    .template-content-landscape {
        background: url('https://i.ibb.co/yyYVKZn/image.png') !important;/*custom page layout*/
        background-size: contain !important;
        background-repeat: no-repeat !important;
        height: 28.853vh !important;
        width: 81.5vw !important;
        margin: 0px !important;
        margin: 5vh 0px !important;
    }

    .template-content-portrait {
        background: url(Group69.png) !important;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        height: 32.8vh !important;
        width: 185px !important;
    }
}

/* Media query for mobile bento responsiveness */
@media screen and (max-width: 500px) {
    #p1 {
        background: url(Group69.png) !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }

    #p2 {
        background: url(Group71.png) !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }

    .template-content-holder {
        width: 95vw !important;
    }

    .template-content {
        background: url(INFO_RECT.png) !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        height: 18.5vh !important;
        width: 95vw !important;
        margin: 1vh 0px;
    }

    .template-content-landscape {
        background: url('https://i.ibb.co/yyYVKZn/image.png') !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        height: 220.238509317px !important;
        width: 84.5vw !important;
        margin: 0px !important;
        margin: 1vh 0px !important;
    }

    .template-content-portrait {
        background: url(Group69.png) !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        height: 328.56px !important;
        width: 180px !important;
    }
}

/* Media query for mobile responsiveness */
@media screen and (max-width: 300px) {
    #1p {
        background: url(Group69.png) !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }

    #2p {
        background: url(Group71.png) !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }

    .template-content-holder {
        width: 90vw !important;
    }

    .template-content {
        background: url(INFO_RECT.png) !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        height: 20vh !important;
        width: 82vw !important;
    }

    .template-content-landscape {
        background: url('https://i.ibb.co/yyYVKZn/image.png') !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        height: 220.238509317px !important;
        width: 84.5vw !important;
        margin: 0px !important;
        margin: 5vh 0px !important;
        margin-top: 0px !important;
    }

    .template-content-portrait {
        height: 638.866666666px !important;
        width: 350px !important;
        margin-bottom: 50px !important;
    }
}